<div class="col-3">
  <div class="card" style="background-size: cover; width: 18rem; background-image: url('https://vinmec-prod.s3.amazonaws.com/images/20190801_095028_139788_em_be.max-800x800.jpg')">
    <div class="card-body">
      <h6 class="card-title">タイトル</h6>
      <p class="card-text my-card-text">文書のトピックの簡単な説明</p>
      <a href="#" class="card-link">詳しい ...</a>
    </div>
  </div>
</div>
