<div class="home-right container" style="padding-top: 20px">
  <div style="margin-bottom: 30px;"><h3> <%= t ".users_most_active" %></h3></div>
  <% @users_most_active.first(5).each do |user| %> 
    <div class="content">
        <div class="item">
            <div class="image">
                <%= image_tag user.image, :style => "width: 66px; height: 66px; border-radius: 5px;" %>
            </div>
            <div class="info">
                <p class="name">
                    <%= user.nickname %>
                </p>
                <span class="total-post">
                    <%= user.posts.count.to_s + " " + t(".posts")%> 
                </span>
            </div>
            <br>
        </div>
    </div>
  <% end %>
</div>