<div style="padding: 10px">
  <div class="slider">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <%= render partial: "static_pages/card", object: @posts_most_active%>
      </div>
    </div>
  </div>
  <div class="content row" style="padding: 15px;">
    <div class="posts col-8">
        <% if @posts.any? %>
          <%= render @posts %>
          <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        <% end %>
    </div>
    <div class="groups col-4">
      <%= render partial: "static_pages/groups", object: @users_most_active %>
    </div>
  </div>
</div>
